* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    border-top: 2px solid #706460;
    position: sticky;
    top: 0;
    box-shadow: 0px 0.5px 18px -1px rgba(66, 58, 57, 0.31);
    z-index: 100;
}   

.carrito-de-compras {
    font-size: 1em;
    color: #ffff;
    padding-right: 1em;
    margin: auto;
    padding: 1em 0;
    cursor: pointer;
}

.item-count {
    max-width: 320px;
    margin: auto;
}

.input-contador {
    width: 50%;
    height: 40px;
}

.sinDecoracion {
    text-decoration: none;
    color: #ffff;
}

a:hover {
    color: yellow !important;

}

@import "~bootstrap/scss/bootstrap";